/* imports */
/*fuente importada*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap");
/* PALETA DE COLORES*/
/* Paleta de colores
 #6C756B #93ACB5 #96C5F7 #A9D3FF #F2F4FF*/
/*Reseteo*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Fuente del proyecto*/
html {
  font-family: 'EB Garamond', serif 600;
  font-size: 62.5%; }

/* Paleta de colores
 #6C756B #93ACB5 #96C5F7 #A9D3FF #F2F4FF*/
/*partials*/
/*ESTILO DE FOOTER*/
/*ESTILO DE FOOTER*/
footer {
  width: 100%;
  height: auto;
  background-color: rgba(0, 104, 173, 0.918); }

#footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }
  #footer .footer__contacto-footer {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 5px; }
  #footer .footer__contacto-datos {
    font-size: 24px;
    color: white; }
  #footer .footer__div-redes {
    width: auto; }
    #footer .footer__div-redes .footer__redes {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      box-shadow: 2px 2px 2px #fffcfc;
      transition: .3s ease-in-out; }
      #footer .footer__div-redes .footer__redes:hover {
        transform: scale(1.2); }

header {
  height: auto;
  width: 100%; }

#head {
  background-color: rgba(0, 104, 173, 0.918);
  padding-left: 20%; }

.header__logo-entersalud {
  height: 90px;
  width: auto;
  margin-right: 10%; }
  .header__logo-entersalud:hover {
    transform: scale(1.1);
    color: #2c2c2c; }

#menu__menu-individual {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0 50px; }
  #menu__menu-individual:hover {
    transform: scale(1.2);
    color: #2c2c2c;
    transform: translateY(1px); }

#desplegable {
  background-color: rgba(0, 104, 173, 0.918); }

#menu__menu-individual__submenu-productos {
  color: white;
  font-size: 1.5rem; }
  #menu__menu-individual__submenu-productos:hover {
    color: #2c2c2c;
    transform: translateY(1px); }

/*pages*/
/*ESTILOS DE MAIN*/
/* ESTILOS DE SECCION CON FLEX*/
/*seccion uno con bootstrap*/
body {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23b7e6f5' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E"); }

#carouselExampleDark {
  width: 100%;
  height: 50%;
  margin-top: 5px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 8px #888888; }
  #carouselExampleDark h5 {
    color: cornsilk;
    font-size: 22px;
    font-style: bold;
    background-color: rgba(0, 104, 173, 0.918);
    box-shadow: 10px 10px 8px #888888; }
  #carouselExampleDark p {
    color: ivory;
    font-size: 18px;
    font-family: bold;
    border-color: black 20px;
    background-color: rgba(0, 104, 173, 0.918);
    box-shadow: 10px 10px 8px #888888; }

img.d-block {
  width: 100%;
  height: 550px; }

/*seccion dos*/
.card-group .card {
  margin-bottom: 50px;
  box-shadow: 10px 10px 8px #888888; }
  .card-group .card .card-img-top {
    width: 100%;
    height: 100%;
    background-size: cover; }

.card-group .card-body {
  background-color: #2892D7;
  box-shadow: 10px 10px 8px #888888; }
  .card-group .card-body .card-text {
    color: ivory;
    font-family: bold;
    font-size: 20px;
    text-align: center; }
  .card-group .card-body .card-title {
    color: black;
    font-family: bold;
    font-size: 24px;
    text-align: center;
    font-style: bold; }
    .card-group .card-body .card-title:hover {
      transform: scale(1.2); }

.section-tres {
  width: 100%;
  height: 100%;
  background-color: #93ACB5;
  margin-bottom: 50px;
  box-shadow: 10px 10px 8px #888888; }
  .section-tres .videos-index .videos {
    text-align: center;
    font-size: 16px;
    color: black; }
    .section-tres .videos-index .videos h3 {
      font-size: 24px; }
    .section-tres .videos-index .videos p {
      font-size: 20px;
      color: ivory;
      font-style: bold; }

.section-tres .videos li h3 {
  text-align: center;
  animation-name: un-efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0s; }

@keyframes un-efecto {
  0% {
    width: 60%; }
  25% {
    width: 80%; }
  50% {
    width: 90%;
    background-color: blue; }
  75% {
    width: 100%; }
  100% {
    width: 80%;
    background-color: #aebffa; } }

.videos-index ul {
  text-decoration: none;
  list-style-type: none;
  text-align: center; }

main {
  margin-bottom: 20 px; }
  main .nosotros {
    color: cornsilk;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 25px; }
    main .nosotros:hover {
      transform: scale(1.2); }
  main article {
    color: #313131;
    font-size: 20px;
    text-align: center;
    background-color: #2892D7;
    font-style: bold;
    margin-bottom: 20px; }
  main form {
    background-image: url("../Public/multimedia-entersalud/totem-full/temper1.webp");
    background-size: cover;
    text-align: center;
    color: #2892D7;
    font-size: 16px;
    font-style: bold;
    text-decoration: none; }
    main form h4 {
      color: black;
      margin-top: 10px;
      margin-bottom: 10px; }
    main form p {
      color: #504f4f;
      margin-top: 10px;
      margin-bottom: 10px; }

/* clientes html con grids*/
main {
  margin-bottom: 20px; }
  main .seccion-uno-clientes {
    background-image: url("../Public/multimedia-entersalud/totem-full/temper6.webp");
    background-size: cover;
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-areas: "nuestros-clientes"  "nuestros-clientes" "cliente-1" "cliente-2 " "cliente-3" "cliente-4";
    gap: 4rem;
    grid-column: auto;
    grid-row: auto;
    justify-content: center;
    text-align: center;
    font-size: 16px; }
    main .seccion-uno-clientes .seccion-uno-clientes__nuestros-clientes {
      grid-area: nuestros-clientes; }
      main .seccion-uno-clientes .seccion-uno-clientes__nuestros-clientes h2 {
        font-style: bold;
        color: ivory;
        background-color: #003cff;
        font-size: 26px; }
      main .seccion-uno-clientes .seccion-uno-clientes__nuestros-clientes h3 {
        font-style: bold;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 22px; }
      main .seccion-uno-clientes .seccion-uno-clientes__nuestros-clientes p {
        font-style: normal;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 20px; }
    main .seccion-uno-clientes .seccion-uno-clientes__clientes-1 {
      grid-area: cliente-1; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-1 h4 {
        font-style: bold;
        color: #003cff;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 22px;
        margin-top: 40px; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-1 p {
        font-style: normal;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 19px; }
    main .seccion-uno-clientes .seccion-uno-clientes__clientes-2 {
      grid-area: cliente-2; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-2 h4 {
        font-style: bold;
        color: #003cff;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 22px;
        margin-top: 40px; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-2 p {
        font-style: normal;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 19px; }
    main .seccion-uno-clientes .seccion-uno-clientes__clientes-3 {
      grid-area: cliente-3; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-3 h4 {
        font-style: bold;
        color: #003cff;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 22px;
        margin-top: 40px; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-3 p {
        font-style: normal;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 19px; }
    main .seccion-uno-clientes .seccion-uno-clientes__clientes-4 {
      grid-area: cliente-4; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-4 h4 {
        font-style: bold;
        color: #003cff;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 22px;
        margin-top: 40px; }
      main .seccion-uno-clientes .seccion-uno-clientes__clientes-4 p {
        font-style: normal;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 19px; }

/* nosotros.html con grid*/
.nosotros {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "imagen nosotros nosotros" "imagen nosotros-clientes nosotros-clientes-1" "imagen nosotros-clientes-2 nosotros-clientes-3";
  grid-column: auto;
  grid-row: auto;
  gap: 2rem;
  border-color: teal;
  background-color: #93ACB5;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .nosotros .nosotros__imagen-nosotros {
    grid-area: imagen;
    background-size: cover; }
  .nosotros .nosotros__nosotros-uno {
    grid-area: nosotros; }
    .nosotros .nosotros__nosotros-uno h2 {
      font-style: bold;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0.671);
      color: #003cff; }
    .nosotros .nosotros__nosotros-uno article {
      font-style: normal;
      font-size: 20px;
      color: black;
      background-color: #93ACB5; }
  .nosotros .nosotros__nosotros-clientes {
    grid-area: nosotros-clientes; }
    .nosotros .nosotros__nosotros-clientes h4 {
      font-style: bold;
      font-size: 22px;
      background-color: rgba(255, 255, 255, 0.671); }
    .nosotros .nosotros__nosotros-clientes p {
      font-style: normal;
      font-size: 18px; }
  .nosotros .nosotros__nosotros-clientes-1 {
    grid-area: nosotros-clientes-1; }
    .nosotros .nosotros__nosotros-clientes-1 h4 {
      font-style: bold;
      font-size: 22px;
      background-color: rgba(255, 255, 255, 0.671); }
    .nosotros .nosotros__nosotros-clientes-1 p {
      font-style: normal;
      font-size: 18px; }
  .nosotros .nosotros__nosotros-clientes-2 {
    grid-area: nosotros-clientes-2; }
    .nosotros .nosotros__nosotros-clientes-2 h4 {
      font-style: bold;
      font-size: 22px;
      background-color: rgba(255, 255, 255, 0.671); }
    .nosotros .nosotros__nosotros-clientes-2 p {
      font-style: normal;
      font-size: 18px; }
  .nosotros .nosotros__nosotros-clientes-3 {
    grid-area: nosotros-clientes-3; }
    .nosotros .nosotros__nosotros-clientes-3 h4 {
      font-style: bold;
      font-size: 22px;
      background-color: rgba(255, 255, 255, 0.671); }
    .nosotros .nosotros__nosotros-clientes-3 p {
      font-style: normal;
      font-size: 18px; }

@media only screen and (max-width: 780px) {
  .nosotros {
    grid-template-areas: "imagen nosotros nosotros" "imagen nosotros-clientes nosotros-clientes-1" "imagen nosotros-clientes-2 nosotros-clientes-3"; }
    .nosotros .nosotros__imagen-nosotros {
      margin: auto;
      width: 30%;
      height: auto; } }

@media only screen and (max-width: 360px) {
  .nosotros {
    grid-template-areas: "nosotros nosotros" "nosotros-clientes nosotros-clientes-1" "nosotros-clientes-2 nosotros-clientes-3" "imagen imagen"; }
    .nosotros .nosotros__imagen-nosotros {
      margin: auto;
      margin-bottom: 10px; } }

.section-uno {
  width: 100%;
  height: 30%; }
  .section-uno .imagen-fondo-uno {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    background-size: cover; }
  .section-uno .titulos-seccion-uno {
    text-align: center;
    font-style: bold;
    background-color: #2892D7;
    margin-top: 20px; }
    .section-uno .titulos-seccion-uno h2 {
      font-size: 18px;
      color: ivory;
      font-style: bold; }
    .section-uno .titulos-seccion-uno h3 {
      font-size: 16px;
      color: cornsilk;
      font-style: bold; }
    .section-uno .titulos-seccion-uno p {
      font-size: 16px;
      color: #F2F4FF; }
    .section-uno .titulos-seccion-uno ul {
      text-decoration: none;
      list-style-type: none;
      font-size: 16px;
      color: #504f4f;
      background-color: rgba(255, 235, 205, 0.747);
      margin-top: 20px; }

.section-dos {
  margin-top: 20px; }
  .section-dos .col .card .card-img-top {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 550px;
    background-size: cover; }
  .section-dos .col .card .card-body {
    background-color: #2892D7; }
    .section-dos .col .card .card-body .card-title {
      font-size: 18px;
      font-style: bold;
      text-align: center;
      color: ivory; }
    .section-dos .col .card .card-body .card-text {
      font-size: 14px;
      font-style: bold;
      text-align: center;
      color: cornsilk; }

.section-tres {
  margin-top: 20px;
  box-shadow: 10px 10px 8px #888888; }
  .section-tres .videos-index {
    width: 100%;
    padding-bottom: 40px; }
    .section-tres .videos-index h3 {
      margin-top: 10px;
      font-size: 26px;
      color: #313131;
      font-style: bold;
      text-align: center; }
      .section-tres .videos-index h3:hover {
        transform: scale(1.2); }
    .section-tres .videos-index p {
      margin-top: 10px;
      font-size: 18px;
      color: #003cff;
      font-style: bold;
      text-align: center; }

.bodyerror {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23b7e6f5' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  .bodyerror .section404 {
    background-image: url("../Public/multimedia-entersalud/totem-full/temper1.webp");
    background-size: cover; }
    .bodyerror .section404 .error404 {
      text-align: center;
      font-size: 4rem;
      color: rgba(0, 104, 173, 0.918);
      margin-top: 2rem; }
    .bodyerror .section404 .error4041 {
      text-align: center;
      font-size: 3rem;
      color: black;
      margin-top: 5rem;
      margin-left: 48rem; }
    .bodyerror .section404 .error4042 {
      text-align: right;
      font-size: 2.5rem;
      color: black;
      margin-top: 2.5rem;
      padding-right: 4rem; }
    .bodyerror .section404 .error4043 {
      text-align: right;
      font-size: 2.2rem;
      color: black;
      margin-top: 3.2rem;
      padding-right: 1.6rem; }
    .bodyerror .section404 .error {
      color: rgba(0, 104, 173, 0.918);
      text-align: center;
      margin-top: 22rem;
      font-size: 2rem;
      margin-left: 20rem; }
    .bodyerror .section404 .logoerror {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      margin-left: 18rem; }
      .bodyerror .section404 .logoerror .secion404__logo-entersalud {
        border-radius: 8px;
        height: 90px;
        width: auto;
        margin-right: 10%; }
        .bodyerror .section404 .logoerror .secion404__logo-entersalud:hover {
          transform: scale(1.1);
          color: #2c2c2c; }

@media only screen and (max-width: 780px) {
  .bodyerror {
    background-color: white; }
    .bodyerror .section404 {
      background-image: url("../Public/multimedia-entersalud/totem-full/temper1.webp");
      background-size: cover;
      background-position: center; }
      .bodyerror .section404 .error404 {
        text-align: center;
        font-size: 3rem;
        color: black;
        margin-top: 7rem; }
      .bodyerror .section404 .error4041 {
        text-align: right;
        font-size: 2rem;
        color: #003cff;
        margin-left: 30px;
        margin-top: 4rem; }
      .bodyerror .section404 .error4042 {
        text-align: right;
        font-size: 2rem;
        color: #003cff;
        margin-top: 1.5rem;
        padding-right: 0rem;
        padding-left: 3rem; }
      .bodyerror .section404 .error4043 {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin-top: auto;
        margin-top: 7rem; }
      .bodyerror .section404 .error {
        color: black;
        text-align: center;
        margin-top: 10rem;
        font-size: 2rem;
        margin-left: 0px; }
      .bodyerror .section404 .logoerror {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto; }
        .bodyerror .section404 .logoerror .secion404__logo-entersalud {
          border-radius: 8px;
          height: 90px;
          width: auto; }
          .bodyerror .section404 .logoerror .secion404__logo-entersalud:hover {
            transform: scale(1.1);
            color: #2c2c2c; } }

@media only screen and (max-width: 360px) {
  .bodyerror {
    background-color: white; }
    .bodyerror .section404 {
      background-image: url("../Public/multimedia-entersalud/totem-full/temper1.webp");
      background-size: cover;
      background-position: center; }
      .bodyerror .section404 .error404 {
        text-align: center;
        font-size: 3rem;
        color: black;
        margin-top: 7rem; }
      .bodyerror .section404 .error4041 {
        text-align: right;
        font-size: 2rem;
        color: #003cff;
        margin-left: 0px;
        margin-top: 0.9rem; }
      .bodyerror .section404 .error4042 {
        text-align: right;
        font-size: 2rem;
        color: #003cff;
        margin-top: 2.5rem;
        padding-right: 0rem;
        padding-left: 3rem; }
      .bodyerror .section404 .error4043 {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin-top: auto;
        margin-top: 3.2rem; }
      .bodyerror .section404 .error {
        color: black;
        text-align: center;
        margin-top: 10rem;
        font-size: 2rem;
        margin-left: 0px; }
      .bodyerror .section404 .logoerror {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto; }
        .bodyerror .section404 .logoerror .secion404__logo-entersalud {
          border-radius: 8px;
          height: 90px;
          width: auto; }
          .bodyerror .section404 .logoerror .secion404__logo-entersalud:hover {
            transform: scale(1.1);
            color: #2c2c2c; } }

/*fuente importada*/
