/* PALETA DE COLORES*/

/* Paleta de colores
 #6C756B #93ACB5 #96C5F7 #A9D3FF #F2F4FF*/

$colorprincipal:#96C5F7 ;
$colorsecundario:#F2F4FF;
$colorterciario:ivory;
$colorcuarto:rgb(172, 187, 255);
$colorquinto: #6DAEDB;
$colorsexto:#F2F4FF;
$colorseptimo:#2892D7;
$coloroctavo: #93ACB5;
$colorhover:rgb(93, 148, 39);
$colorwhite: white;
$colorboton: cornsilk;
$colorborder:teal;
$colorblack: black;
$colorarticle: rgb(49, 49, 49);
$colorparrafo:  rgb(80, 79, 79)




