/*ESTILO DE FOOTER*/
 /*ESTILO DE FOOTER*/

footer{
        width: 100%;
        height: auto;
        background-color:$colorprincipal; }
#footer{        
    display: flex;   
    flex-wrap: nowrap;     
    justify-content: space-around; 
    align-items: center;
   .footer__contacto-footer{
    font-size: 24px;
    color: $colorwhite;
    text-align: center;
    margin-top: 5px;
    }
    .footer__contacto-datos{
    font-size: 24px;
    color:$colorwhite;
    }
    .footer__div-redes{
    width: auto;
    .footer__redes {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px #fffcfc;
    transition: .3s ease-in-out;
    &:hover{
        transform: scale(1.2);
            }
    }
}
}