/*ESTILO DE FOOTER*/
 /*ESTILO DE FOOTER*/

#footer{
        width: 100%;
        height: 70px;
        background-color:$colorprincipal;
        .nav-footer{
            width: 100%;
            height: 70px; 
            display: flex;
            align-items: center;
            background-color: $colorprincipal;
                ul{
                    width: 100%;
                    padding: 0px 60px;
                    display: flex;  
                    justify-content: space-between;   
                    background-color: $colorprincipal;            
                    li{ 
                       display: inline;
                       list-style-type: none;
                       align-items: center;
                       a{
                        text-decoration: none;
                        padding: 3px;
                        color:$colorwhite;
                        font-size: 16px;
                        font-family:'EB Garamond';   
                        background-color:$colorprincipal;
                        font-style: bold;
                        &:hover{
                        transform: scale(1.2);
                        background-color: $colorhover;
                        }
                        
                        }
                    }           
                }
        }
} 
