// /*Estilo de header*/

header{
    height: auto;
    width: 100%;
}
#head{
        background-color: $colorprincipal;
        padding-left: 20%;}

        .header__logo-entersalud{
            height: 90px;
            width: auto; 
            margin-right: 10%;
            &:hover{
                transform: scale(1.1);
                color:#2c2c2c;
            }
        }        
            
        #menu__menu-individual{

                color: white;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                padding: 0 50px;
                &:hover{
                transform: scale(1.2);
                color:#2c2c2c;
                transform: translateY(1px);
                      }
                    
        }

#desplegable{
    background-color: $colorprincipal;}
    #menu__menu-individual__submenu-productos{
        color: $colorwhite;
        font-size: 1.5rem;
        &:hover{
            color:#2c2c2c;
	transform: translateY(1px);
                  }
    }

    