
// estilo pagina 404
.bodyerror{
        background-color: #f5f5f5;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23b7e6f5' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
        
        .section404{
            background-image: url('../Public/multimedia-entersalud/totem-full/temper1.webp');
            background-size: cover;
            .error404{
                text-align: center;
                font-size: 4rem;
                color: $colorprincipal;
                margin-top: 2rem;
            }
            .error4041{
                text-align: center;
                font-size: 3rem;
                color:$colorblack;
                margin-top: 5rem;
                margin-left: 48rem;
            }
            .error4042{
                text-align: right;
                font-size: 2.5rem;
                color: $colorblack;
                margin-top: 2.5rem;
                padding-right: 4rem;
            }
            .error4043{
                text-align: right;
                font-size: 2.2rem;
                color: $colorblack;
                margin-top: 3.2rem;
                padding-right: 1.6rem;
            }
            .error{
                   color: $colorprincipal;
                   text-align: center;
                   margin-top: 22rem; ;
                   font-size: 2rem;
                   margin-left: 20rem;
            }
            .logoerror{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    margin-left:  18rem;
                    .secion404__logo-entersalud{
                     border-radius:8px;
                     height: 90px;
                     width: auto; 
                    margin-right: 10%;
                     &:hover{
                         transform: scale(1.1);
                         color:#2c2c2c;
                            }
                    }
            }
        }
}

@media only screen and (max-width:780px){
    .bodyerror{background-color: white;
        .section404{
            background-image: url('../Public/multimedia-entersalud/totem-full/temper1.webp');
            background-size:cover;
            background-position: center;
            .error404{
            text-align: center;
            font-size: 3rem;
            color: $colorblack;
            margin-top: 7rem;
            }
            .error4041{
            text-align: right;
            font-size: 2rem;
            color:$colorquinto;
            margin-left: 30px;
            margin-top: 4rem;
            }
            .error4042{
            text-align: right;
            font-size: 2rem;
            color: $colorquinto;
            margin-top: 1.5rem;
            padding-right: 0rem;
            padding-left: 3rem;
            }
            .error4043{
            text-align: center;
            font-size: 2rem;
            color: $colorwhite;
            margin-top: auto;
            margin-top: 7rem;
            
            }
            .error{
            color: $colorblack;
            text-align:center;
            margin-top:10rem;
            font-size:2rem; 
            margin-left: 0px;    
            }
            .logoerror{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                margin-left: auto;
                margin-right: auto;
            
                .secion404__logo-entersalud{
                border-radius:8px;
                height: 90px;
                width: auto; 
                
                &:hover{
                    transform: scale(1.1);
                    color:#2c2c2c;
                        }
                }
            }
        }
    }
}   


@media only screen and (max-width: 360px) {
    .bodyerror{background-color: white;
        .section404{
            background-image: url('../Public/multimedia-entersalud/totem-full/temper1.webp');
            background-size:cover;
            background-position: center;
            .error404{
            text-align: center;
            font-size: 3rem;
            color: $colorblack;
            margin-top: 7rem;
            }
            .error4041{
            text-align: right;
            font-size: 2rem;
            color:$colorquinto;
            margin-left: 0px;
            margin-top: 0.9rem;
            }
            .error4042{
            text-align: right;
            font-size: 2rem;
            color: $colorquinto;
            margin-top: 2.5rem;
            padding-right: 0rem;
            padding-left: 3rem;
            }
            .error4043{
            text-align: center;
            font-size: 2rem;
            color: $colorwhite;
            margin-top: auto;
            margin-top: 3.2rem;
            
            }
            .error{
            color: $colorblack;
            text-align:center;
            margin-top:10rem;
            font-size:2rem; 
            margin-left: 0px;    
            }
            .logoerror{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                margin-left: auto;
                margin-right: auto;
            
                .secion404__logo-entersalud{
                border-radius:8px;
                height: 90px;
                width: auto; 
                
                &:hover{
                    transform: scale(1.1);
                    color:#2c2c2c;
                        }
                }
            }
        }
    }
}