.section-uno{
    width: 100%;
    height: 30%;
    .imagen-fondo-uno{
        margin-top: 15px;
        width: 100%;
        height: 500px;
        background-size:cover;
    
    }
    .titulos-seccion-uno{
        text-align: center;
        font-style: bold;
        background-color: $colorseptimo;
        margin-top: 20px;
        h2{
            font-size:16px ;
            color: $colorterciario;
            font-style: bold;
        }
        h3{
            font-size:14px ;
            color:$colorboton;
            font-style: bold;
        }
        p{
            font-size:14px ;
            color:$colorsecundario;
        }
        ul{
            text-decoration: none;
            list-style-type:none;
            font-size: 14px;
            color:$colorparrafo;
            background-color: rgba(255, 235, 205, 0.747); 
            margin-top: 20px;
        }
    }
}

.section-dos{
    margin-top: 20px;
    .col{
        .card{
            .card-img-top{
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 550px;
                background-size: cover;  
            }
            .card-body{
                background-color:$colorseptimo;
                .card-title{
                    font-size: 14px;
                    font-style: bold;
                    text-align: center;
                    color: $colorterciario;
                }
                .card-text{
                    font-size: 12px;
                    font-style: bold;
                    text-align: center;
                    color:$colorboton;
                }
            }
        }
    }
} 
.section-tres{
    margin-top: 20px;
    box-shadow: 10px 10px 8px #888888;
    .videos-index{
                width: 100%;
                padding-bottom: 40px;
                h3{
                margin-top: 10px;
                font-size: 26px;
                color:$colorarticle;
                font-style: bold;
                text-align: center;       
                &:hover{
                    transform: scale(1.2);
                        }
                }
                p{
                margin-top: 10px;
                font-size: 18px;
                color:$colorquinto;
                font-style: bold;
                text-align: center;
                }
    }
}